.title {
  text-align: center;
  color: blue;
}
.green {
  color: green;
}
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
        /* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.column {
  float: left;
}

/* Side Column*/
.column.side {
  width: 400px;
  padding-top: 30px;
}

/* Middle column */
.column.middle {
  width: 580px;
  padding-top: 30px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.pads {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  padding-left: 10px;
  padding-bottom: 10px;
}

.container {
  width: 500px;
  height: 650px;
}

.container:before,
.container:after {
  content: "";
  display: table;
  clear: both;
}

.container div {
  float: left;
  width: 230px;
  height: 320px;
}

#box2 {
  margin-left: 5px;
  margin-right: 5px;
}

div {
  padding-top: 10px;
}