.navi {

    margin: 10px;
    width: 98%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: gray;
    text-align: right;
    border: 1px solid black ;
}

.navi > a {
    color: white;
}

.navi > a:hover {
    color: blue;
}


.box {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    height: 120px;
    width: 500px;
}

.box2 {
    margin-top: 50px;
    height: 44px;
    padding-left: 20px;
    width: 500px;
    border-radius: 22px;
    border: 1px solid lightgray;
}

.box3 {
    text-align: center;
    border: none;
    height: 44px;
    padding: 10px;
}

.box2:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.box3:hover, box6:hover {
    border: 1px solid lightgray;
}

.box4 {
    margin: 20px;
    text-align: left;
}

.box5 {
    margin-top: 25px;
    height: 25px;
    padding-left: 10px;
    width: 100%;
    border: 1px solid lightgray;
    outline-color: blue;
}

.box6 {
    text-align: right;
    font-size: 13px;
    border: none;
    height: 40px;
    padding: 10px;
    vertical-align: middle;
    color: white;
    background-color: blue;
}

p {
    display: inline-block;
    font-family: "Century Gothic";
    margin-top: 5px;
}

#column-left, #column-right {
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 30px;
}

tr {
    font-size: 13px;
    vertical-align: middle;
    height: 50px;
    width: 100px;
}








