<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/content/site.css' %}" />
    <script src="{% static 'recipe/scripts/JavaScript.js' %}"></script>
    <title></title>
</head>
<body>
<div class="row" style="margin-left: 20px; margin-right: 20px">
    <div class="col-md-5" id="recipe_detail" style="border: 1px solid gray; height: auto; min-height: 750px; margin: 10px">
        <div id="compose">
            <h2>{{ title }}</h2>
            <div class="title_block">
                <h4><b>Title:</b></h4>
                <h4><b>Comment:</b></h4>
                <h4><b>Category:</b></h4>
                
            </div>       
            <div class="recipe_input" style="margin-top: 15px">
                <div>
                    <p>{{ title }}</p>
                    <p>{{ comment }}</p>
                    <p>{{ category }}</p>
                </div>
            </div>   
            <hr />
            <div>
                <div style="font-size: 20px; font-weight: bold; float: left; margin-right:20px">Ingredients:</div>
                <input disabled style="visibility: hidden" type="text" data-compose="quantity" id="quantity" class="text_box2"/>

            </div>
            <div class="recipe_container" id="list" data-ingredients="ingredient_list" name="ingredient_list">
                <div>
                    <table id="tablelist">
                        <tbody>
                            {% for row in table1 %}
                                <tr>
                                    <td>{{ row.quantity }}</td>
                                    <td>{{ row.units.measure }}</td>
                                    <td>{{ row.ingredients.items }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <table id="tablelist2">
                        <tbody>
                            {% for row in table2 %}
                                <tr>
                                    <td>{{ row.quantity }}</td>
                                    <td>{{ row.units.measure }}</td>
                                    <td>{{ row.ingredients.items }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <hr />
            <h3>Instructions:</h3>
            <div class="text_area">
                <div class="instruction_input1" style="border: none" id="instruction" name="instruction">{{ instructions }}</div>
            </div>
            <div style="position: absolute; bottom: 5px"><button style="display: block" id="printout" onclick="printout()" class="btn btn-default">Print &raquo;</button>&nbsp;</div>
        </div>
        <div style="position: absolute; bottom: 5px"><button style="display: none" id="edit" class="btn btn-default">Edit &raquo;</button></div>
        <div style="position: absolute; bottom: 5px; margin-left: 200px">
            <input type="hidden" id="recipeid" value="None" />
            <div style="display: none; text-align: right" id="author"></div>
            <div style="display: none; margin-left: 10px" id="timestamp"></div>
            
        </div>

    </div>

</div>
</body>
</html>